#back {

	height: 100px;
	width: 100px;
	margin-right: 10px;
	border-style: solid;
	border-width: 10px;
	
}

#body {

	background-color: aqua;
	margin-left: 50px;

}

#title {

	padding: 20px;
	background-color: white;
	background-color: darkorange;
	color: white;
	float: left;
	border-style: solid;
	border-width: 0.5px;
	border-color: grey;
}

#instr-back {

	background-color: white;
	background-color: antiquewhite;
	float: left;
	border-style: solid;
	border-width: 0.5px;
	border-color: grey;
	padding-left: 10px;
	padding-right: 10px;
	width: 650px;
}

#instructions {

	font-family: arial;
	color: forestgreen;
	font-weight: bold;
}

#target-back  {

	background-color: white;
	background-color: yellowgreen;
	float: left;
	border-style: solid;
	border-width: 0.5px;
	border-color: grey;
	padding-left: 10px;
	padding-right: 150px;
	padding-bottom: 100px;

}

#counter-back  {

	background-color: white;
	background-color: powderblue;
	float: left;
	margin-left: 40px;
	border-style: solid;
	border-width: 0.5px;
	border-color: grey;
	padding-left: 10px;
	padding-right: 10px;


}

#score {

	background-color: white;
	background-color: teal;
	float: left;
	border-style: solid;
	border-width: 0.5px;
	border-color: grey;
	padding-left: 10px;
	padding-right: 10px;


}

#curScore {

	padding: 10px;
	background-color: white;
	padding-right: 150px;
	padding-bottom: 75px;
	background-color: teal;
	float: left;
	border-style: solid;
	border-width: 0.5px;
	border-color: grey;
	margin-bottom: 75px;
	color: white;
	font-family: arial;
	font-size: 40px;


}

#numGuess {

	color: slateblue;
	font-family: arial;
	font-weight: bold;
}

#targetNumber {

	color: purple;
	font-size: 40px;
}

#wins {

	color: navy;
	font-weight: bold;
	font-family: arial;
}

#losses {

	color: navy;
	font-weight: bold;
	font-family: arial;
}

#score-txt {

color: white;
font-weight: bold;
font-family: arial;

}